*{
	margin:0px;
	padding:0px;
}
#contenedoor{
	box-shadow: 5px 5px 10px #999999;
	border: solid #999999;
	border-radius: 5px;
	margin-top: 10px;
	background: #ffffff;
  height: 1400px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
header{
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
	position: absolute;
}
nav{
	top: -300px;
	position: absolute;
	left: 0;
	right: 0;
	margin:20px auto;
	width: 90%;
	max-width: 1000px;
}
nav ul{
	list-style: none;
}
nav > ul{
	display: table;
	width: 100%;
	background: #000000;
	position: relative;
}
nav > ul li{
	display: table-cell;
}
/*Sub-menu*/
nav > ul > li:hover > ul{
	display: block;
	height: 100%;
}
nav > ul > li > ul{
	display: block;
	position: absolute;
	background: #000000;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul li a{
	color: #ffffff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > ul > li a:hover{
	background: #5da5a2;
}
nav > ul > li > a span{
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > a span{
	display: block;
	line-height: 60px;
}
nav > ul >li > a:hover > span{
	top: 0;
}
/*colores*/
nav ul li a .primero{
	background: #0e5061;
}
nav ul li a .segundo{
	background: #5da5a2;
}
nav ul li a .tercero{
	background: #f25724;
}
nav ul li a .cuarto{
	background: #174459;
}
nav ul li a .quinto{
	background: #37a4d9;
}
